@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  background-color: #0f172a;
  color: #ffffff;
}

/* 스크롤바 숨기기 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
